
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}

<h2>ResetPassword</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
        {
            <div class="alert alert-success">
                @ViewBag.SuccessMessage
            </div>
        }

        <div class="form-group">
            @Html.Label("Old Password", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Password("oldPassword", "", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("New Password", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Password("newPassword", "", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Confirm New Password", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Password("confirmPassword", "", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Reset Password" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Profile", "Profile")
</div>

