@model IEnumerable<JOVOICE.Models.Debate>

@{
    ViewBag.Title = "Debates";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}

<div style="display:flex; justify-content: space-between; margin-bottom:20px;">
    <div>
        <h2>Debates</h2>

        @*<p>
            @Html.ActionLink("Create New", "Create")
        </p>*@
    </div>
    <div>
        <a href="@Url.Action("Index", "TempDebates")" class="btn btn-lg btn-primary m-2">Debates Applications</a>
    </div>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.listname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.areaelection)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.listname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.areaelection)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
