@model IEnumerable<JOVOICE.Models.TempCandidateLocal>

@{
    ViewBag.Title = "Local Lists Applications";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}

<h2>Local Lists Applications</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<form method="post">

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.national_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.listname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.type_of_chair)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.birthdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.religion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.electionarea)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.national_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.listname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.type_of_chair)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.birthdate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.religion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.electionarea)
                </td>

                <td>
                   <button type="submit" name="approvedListId" value="@item.id" class="btn btn-primary"> Accept </button>
                    @Html.ActionLink("Details", "Details", new { id = item.id }, new {@class = "btn btn-secondary"}) 
                    @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>
</form>
